*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;
  padding: 15px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  margin-block: 16px;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:active {
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}

.inputs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-block: 18px;
  gap: 25px;
}

.main-content {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  height: calc(100vh - 165px);
}

.main-content > div {
  border-left: 4px solid hsl(0, 0%, 35%);
  border-top: 4px solid hsl(0, 0%, 35%);
  border-bottom: 4px solid hsl(0, 0%, 35%);
  border-right: 2px solid hsl(0, 0%, 35%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.main-content > section {
  overflow-y: auto;
  word-wrap: break-word;
  border-right: 4px solid hsl(0, 0%, 35%);
  border-top: 4px solid hsl(0, 0%, 35%);
  border-bottom: 4px solid hsl(0, 0%, 35%);
  border-left: 2px solid hsl(0, 0%, 35%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line > img {
  max-height: 20px;
  max-width: 20px;
}

.line > img:hover {
  background-color: hsl(0, 0%, 48%);
  border-radius: 2px;
}

#clipboard-history {
  overflow: auto;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-block: 15px;
}

#clipboard-history > * {
  padding-inline: 10px;
  padding-block: 12px;
}

#clipboard-history > p {
  &:hover {
    background-color: hsl(0, 0%, 25%);
  }
}

.selected,
.line:hover {
  background-color: hsl(0, 0%, 28%);
  border-radius: 10px;
}

.item {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#current-clip {
  padding: 16px;
}